:root {
    font: normal normal normal 16px/26px Open Sans;
    --lightColor: #FFFFFF;
    --darkColor: #505050;
    --accentColor: #CC4B00;
    --requiredColor: #E65400;
    --tertiaryColor: #FDB913;
    --contentWidth: 1170px;
    color: var(--darkColor);
    background-color: var(--lightColor);
}

h1 {
    font-size: 40px;
    line-height: 55px;
    color: var(--lightColor);
}

h2 {
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    color: var(--tertiaryColor);
}

h3 {
    font-weight: 300;
    font-size: 24px;
}

a {
    color: var(--accentColor)
}

header {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 10px 0px;
}

.headerContent {
    width: 100%;
    max-width: var(--contentWidth);
    display: flex;
    justify-content: space-between;
}

.infoImage {
    display: none;
    background-color: var(--tertiaryColor);
    padding: 13px 19px;
}

.hero {
    background-image: url("images/overlay.svg"), url("images/headerDesktop3840.png");
    background-repeat: repeat-x, no-repeat;
    background-color: var(--darkColor);
    height: 470px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    background-size: cover, cover;
}

.heroContent {
    width: 100%;
    max-width: var(--contentWidth);
    padding: 13px 0px 10px 0px;
}

.mainContent {
    display: flex;
    justify-content: center;
    padding: 40px 0px;
}

.contentWidth {
    width: 100%;
    max-width: var(--contentWidth);
    display: flex;
    justify-content: space-between;
}

.featuredContent {
    width: 760px;
}

.requestInfo {
    padding-top: 40px;
    text-decoration: underline;
}

.requestInfo img {
    display: inline;
    padding-right: 12px;
}

.itemContent {
    padding-top: 40px;
}

.itemContent h3 {
    padding-bottom: 20px;
}

.sideBar {
    box-shadow: 0px 3px 6px #00000029;
    width: 380px;
    height: 575px;
    margin-top: -404px;
    background-color: var(--lightColor);
    padding: 20px;
}

.sideBar h3 {
    font-size: 32px;
    font-weight: 600;
    line-height: 32px;
    font-family: 'Forum';
}

.sideBar p {
    padding-top: 25px;
}

.sideBar hr {
    width: 40px;
    height: 3px;
    background-color: var(--tertiaryColor);
    border: none;
    display: inline-block;
    margin-top: 32px;
}

form {
    padding-top: 17px;
}

.fullInput {
    width: 100%;
}

input,
select {
    border: 1px solid #D6D6D6;
}

input[type="checkbox"] {
    accent-color: var(--tertiaryColor);
}

.singleInput {
    padding-top: 12px;
}

.formLabel {
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
    padding: 5px 10px;
}

.submitButton {
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    color: white;
    background-color: var(--accentColor);
    width: 100%;
    padding: 17px 0px;
    margin-top: 50px;
}

.requiredAsterisk {
    color: var(--requiredColor);
}

footer {
    font-size: 12px;
    line-height: 19px;
    text-align: center;
    color: var(--lightColor);
    background-color: var(--darkColor);
    width: 100%;
}

.dreamImage {
    max-height: 27px;
}

footer hr {
    width: 100%;
    max-width: var(--contentWidth);
    height: 1px;
    background-color: #626262;
    border: none;
    display: inline-block;
}

.footerTop {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    min-height: 398px;
    padding: 0px 15px;
}

.footerCopyright {
    font-size: 11px;
    line-height: 15px;
    background-color: #454545;
    padding: 20px 0px;
}

@media screen and (max-width: 1920px) {
    .hero {
        background-image: url("images/overlay.svg"), url("images/headerDesktop1920.png");
    }
}

@media screen and (max-width: 1200px) {
    :root {
        --contentWidth: 100%;
        font-size: 14px;
    }

    h1 {
        font-size: 24px;
        line-height: 33px;
    }

    header {
        padding: 0px;
    }

    .headerLogo {
        padding-left: 15px;
    }

    .infoImage {
        display: block;
    }

    .hero {
        
        text-align: center;
    }

    .heroContent {
        background-color: rgb(0, 0, 0, .6);
    }

    .heroContent h2 {
        color: white;
        font-size: 14px;
        line-height: 14px;
    }

    .contentWidth {
        flex-direction: column;
    }

    .mainContent {
        padding: 40px 10px;

    }

    .featuredContent {
        width: 100%;
    }

    .introContent {
        padding-bottom: 24px;
    }

    .itemContent {
        background-color: #F1F1F0;
        padding: 21px 20px 41px 20px;
    }

    .sideBar {
        width: 100%;
        margin-top: 40px;
    }

    .footerTop {
        min-height: 604px;
    }

    

}

@media screen and (max-width: 780px) {
    .hero {
        background-image: url("images/overlay.svg"), url("images/headerMobile780.png");
        height: 440px;
    }

    .dreamImage {
        content: url("images/dream720.png");
        max-height: 100px;
    }
}

@media screen and (max-width: 390px) {
    .hero {
        background-image: url("images/overlay.svg"), url("images/headerMobile390.png");
        height: 220px;
    }

    .dreamImage {
        content: url("images/dream360.png");
    }
}